main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
img {
  width: clamp(200px, 20%, 400px);
}
.btn {
  margin-left: 10px;
  margin-top: 10px;
}

p.instead {
  text-decoration: underline;
  cursor:pointer;
}
.danger{
  color:#ff2d2d;
}